.form-control {
  width: 40%;
}

.crisis-row:hover {
  background-color: #D7DBDA;
}

.hs-dashboard-table {
  margin-bottom: 10px;
}

.div-no-data {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #D7DBDA;
  padding-bottom: 10px;;
}

.bg-darker-colour {
  background-color: rgb(226, 226, 217);
}


@import "~bootstrap/scss/bootstrap";