.about-us-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1-thankyou {
  padding-top: 100px;
  text-align: center;
}

.form-control {
  width: 40%;
}

.crisis-row:hover {
  background-color: #D7DBDA;
}

.hs-dashboard-table {
  margin-bottom: 10px;
}

.div-no-data {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #D7DBDA;
  padding-bottom: 10px;;
}

.bg-darker-colour {
  background-color: rgb(226, 226, 217);
}

.mapboxgl-popup-close-button {
  display: none;
}

.marker-div {
  width: 25px;
  height: 25px;
}

.custom-invalid {
  color: #dc3545;
}

.progress {
  cursor: progress;
}

.pulsatingDot {
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  border-radius: 50%;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}

.red-dot, .red-dot:before {
  background-color: var(--pulsating-dot, #d83643);
  cursor: pointer;
}

#green-dot, #green-dot:before {
  background-color: var(--pulsating-dot, #4E9C81);
}
#blue-dot, #blue-dot:before {
  background-color: var(--pulsating-dot, #1784dd);
}
#blue-dot {
  width: 25px;
  height: 25px;
}
#red-dot, #red-dot:before {
  background-color: var(--pulsating-dot, #d83643);
}

.pulsatingDot:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  border-radius: 45px;
  content: '';
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

@keyframes pulseRing {
  0% { transform: scale(.5); }
  80%, 100% { opacity: 0; }
}

@keyframes pulseDot {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

@import "~bootstrap/scss/bootstrap";
